version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    networks:
      - ecommerce-net

  authservice:
    image: 257016720789.dkr.ecr.ap-south-1.amazonaws.com/authservice:latest
    container_name: authservice
    environment:
      ASPNETCORE_ENVIRONMENT: Production
    networks:
      - ecommerce-net

  userservice:
    image: 257016720789.dkr.ecr.ap-south-1.amazonaws.com/userservice:latest
    container_name: userservice
    environment:
      ASPNETCORE_ENVIRONMENT: Production
    networks:
      - ecommerce-net

  productservice:
    image: 257016720789.dkr.ecr.ap-south-1.amazonaws.com/productservice:latest
    container_name: productservice
    environment:
      ASPNETCORE_ENVIRONMENT: Production
    networks:
      - ecommerce-net

  gateway:
    image: 257016720789.dkr.ecr.ap-south-1.amazonaws.com/gateway:latest
    container_name: gateway
    environment:
      ASPNETCORE_ENVIRONMENT: Production
    ports:
      - "80:8080"
    networks:
      - ecommerce-net

networks:
  ecommerce-net:
    driver: bridge
